{% extends 'base-admin.html.twig' %}

{% block title %}Modifier Making Of{% endblock %}

{% block body %}
    <a href="{{ path('admin_making_of_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <h1>Modifier Making Of</h1>

    {{ include('admin_making_of/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('admin_making_of/_delete_form.html.twig') }}
{% endblock %}
