{% extends 'base-admin.html.twig' %}

{% block title %}Nouvelle News{% endblock %}

{% block body %}
    <a href="{{ path('admin_news_index') }}" class="btn btn-dark mb-3">Retour à la liste</a>
    <h1>Nouvelle News</h1>

    {{ include('admin_news/_form.html.twig') }}

    
{% endblock %}
