<form method="post" action="{{ path('admin_prochaines_sorties_delete', {'id': prochaines_sorty.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prochaines_sorty.id) }}">
    <button class="btn btn-danger mt-3"><i  class="align-middle" data-feather="trash-2"></i></button>
</form>
